<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="product content">
      <h2>Product details: </h2>
      <% if (product) { %>
          <p class="name"><strong>Product name: </strong><%= product.name %></p>
          <p class="sku"><strong>Product sku: </strong><%= product.sku %></p>
          <p class="description"><strong>Product description: </strong><%= product.description %></p>
          <a class="single" href="/api/products/<%= product.sku %>/update">Update Product</a>
      <% } else { %>
        <p>Error on updating product...</p>
      <% } %>
    </div>
  </body>
</html>