<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="products content">
      <h2>All Products</h2>
      <% if (products.length > 0) { %>
        <% products.forEach(product => { %>
        <a class="single" href="/api/products/<%= product._id %>">
          <h3 class="name">Product name: <%= product.name %></h3>
          <p class="sku"><strong>Product sku: </strong><%= product.sku %></p>
          <p class="description"><strong>Product description: </strong><%= product.description %></p>
          <br><br>
        </a>
        <% }) %>
      <% } else { %>
        <p>There are no products to display...</p>
      <% } %>
    </div>
  </body>
</html>